{% extends "portofolio/template.html" %}
{% load static %}
{% block title %} Beranda {% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-3 biodata">
                <img src="{% static 'images/Evando.jpg' %}" class="img-fluid" id="profile-photo">
                <p>Evando Wihalim</p>
                <p>Fakultas Ilmu Komputer</p>
                <p>Universitas Indonesia</p>
                <p>2018</p>
            </div>
            <div class="col short-story">
                <h3>Tentang saya</h3>
                <p>Hi, saya Evando.</p><br>
                <p>Programmer. Fotografer. Video Editor Amatir.</p><br>
                <p>Berdomisili di Depok, bertempat tinggal di Bekasi. Seorang mahasiswa Fakultas Ilmu Komputer Universitas Indonesia.</p><br>
                <p>Tertarik dengan dunia pemrograman web, fotografi, editing video, kuliner, musik, dan buku.</p><br>
                <p>Suka dengan suasana kerja yang bersahabat dan mendukung produktivitas. 
                    Lebih suka untuk membuat perencanaan dalam melakukan suatu hal namun tetap dapat 
                    sigap dalam melakukan hal yang mendadak</p>
                <p>Cenderung mudah beradaptasi dan mudah untuk bersosialisasi.</p><br>
                <p>Saya adalah seseorang yang tekun,
                        mengerjakan tugas secepat mungkin
                        setelah diberikan, teliti, mampu memimpin
                        dan bekerja sama. Saya juga dapat mencari
                        solusi atas masalah secara kreatif. Saya
                        juga merupakan orang yang mengerjakan
                        sesuatu semaksimal mungkin.</p>
            </div>
        </div>
    </div>
{% endblock content %}