{% extends "portofolio/template.html" %}
{% block title %} Fakta Unik {% endblock %}
{% block content %}
    <div class="container-fakta">
        <h4>4 Fakta Menarik Tentang Bahasa Pemrograman Python</h4>
        <div class="container-fakta-item">
            <p class="judul-fakta">Mengapa dikenal sebagai ‘Python’</p><hr>
            <p>Menurut pencipta Guido Van Rossum, nama bahasa ini berasal dari seri komedi Inggris “Monty Python Flying Circus”. 
                Komedi itu ditayangkan di BBC pada tahun 1970-an dan memberi sang pencipta semacam hiburan selama perkembangan bahasa. 
                Juga, Van Rossum menginginkan nama yang pendek, dan misterius. Sesuatu yang akan menarik perhatian semua orang.
            </p>
        </div>
    
        <div class="container-fakta-item fakta-even">
            <p class="judul-fakta">Python telah menyusul Prancis di sekolah dasar</p><hr>
            <p>Pada tahun 2015, Python menyalip bahasa Prancis menjadi bahasa terpopuler yang diajarkan di sekolah dasar. 
                Statistik mengungkapkan bahwa 6 dari 10 orang tua lebih suka anak-anak mereka belajar Python daripada Perancis.
                Ini hanya menunjukkan bahwa banyak orang menghargai pentingnya pemrograman Python.
                Hal yang sama berlaku untuk anak-anak. 
                Statistik yang sama mengungkapkan bahwa 75% anak sekolah dasar lebih suka belajar bagaimana mengendalikan robot daripada belajar bahasa Prancis
            </p>
        </div>

        <div class="container-fakta-item">
            <p class="judul-fakta">Python memiliki varian C dan Java</p><hr>
            <p>Meskipun merupakan bahasa pemrograman independen, Python memiliki varian untuk bahasa pemrograman C dan Java. 
                Varian C dikenal sebagai CPython dan dirancang untuk memberikan Python keuntungan dari C. 
                Salah satu karakteristik ini adalah dalam hal kinerja. Varian dapat bertindak baik sebagai penerjemah dan sekaligus sebagai kompiler.
                Varian Java dari Python dikenal sebagai Jython. Jython membawa beberapa aspek kunci Java seperti produktivitas dan memungkinkan mereka untuk berjalan di mesin virtual.
            </p>
        </div>
    
        <div class="container-fakta-item fakta-even">
            <p class="judul-fakta">Python adalah bahasa open source</p><hr>
            <p>Python tidak memiliki lisensi kepemilikan, sehingga siapapun diizinkan untuk memberikan kontribusi mereka
                dalam pengembangan bahasa Python.
            </p>
        </div>
        <a href="https://teknologi.id/insight/10-fakta-menarik-tentang-bahasa-pemrograman-python-bag-1/">Sumber: Teknologi.id (klik untuk menuju ke laman sumber)</a>
    </div>
{% endblock content %}