{% extends "portofolio/template.html" %}
{% block title %} Motivasi {% endblock %}
{% block content %}
    <div class="container-fakta">
        <h4>Kutipan Motivasi Hidup</h4>
        <div class="container-fakta-item">
            <p class="judul-fakta">Kerjakan dengan Lebih dan Sepenuh Hati</p><hr>
            <p>“Ia yang mengerjakan lebih dari apa yang dibayar pada suatu saat akan dibayar lebih dari apa yang ia kerjakan” - Napoleon Hill <br>
                <i>“The man who does more than he is paid for will soon be paid more than he does”</i> -  Napoleon Hill<br><br>
                Tip: Selalu ikhlas bekerja daripada apa yang dibayarkan kepada Anda saat ini, 
                maka Anda akan meraih sebuah hasil yang berlipat ganda pada masa mendatang. 
                Buat komitmen mulai hari ini untuk selalu memberikan yang terbaik, 
                apa pun yang Anda kerjakan setiap hari.
            </p>
        </div>
    
        <div class="container-fakta-item fakta-even">
            <p class="judul-fakta">Syukuri dan Hargai Hal-Hal  yang Anda Miliki</p><hr>
            <p>“Janganlah menganggap remeh hal-hal yang terdekat dengan hati Anda. 
                Rangkullah mereka seperti sama berharganya dengan hidup Anda, 
                karena tanpa mereka hidup adalah sia-sia” - Peribahasa Cina <br>

                <i>“Do not take for granted the things closest to your heart. 
                    Cling to them as you would with your life, for without them, life is meaningless” </i>
                    - Chinese Proverbs<br><br>

                Tip: Selalu hargai dan jangan anggap remeh hal-hal terdekat yang Anda miliki seperti
                 orang tua, saudara dekat, maupun sahabat-sahabat terdekat Anda. 
                 Tanpa dukungan dan kehadiran mereka hidup Anda mungkin akan menjadi hampa. 
                 Jangan lupa kesuksesan dan kenikmatan hidup hanya bisa tercapai karena dukungan 
                 dari orang-orang di sekitar Anda. 
                Selalu hargai keberadaan mereka dan berilah perhatian selagi masih bisa.
            </p>
        </div>

        <div class="container-fakta-item">
            <p class="judul-fakta">Nikmati dan Hargai Perubahan dalam Kehidupan</p><hr>
            <p>“Perubahan itu menyakitkan, Ia menyebabkan orang merasa tidak aman, bingung, dan marah. 
                Orang menginginkan hal seperti sediakala, karena mereka ingin hidup yang mudah” - Richard Marcinko. <br>
    
                <i>“Change hurts. It makes people insecure, confused, and angry. 
                    People want things to be the same as they’ve always been, because that makes life easier”  </i>
                    - Richard Marcinko.<br><br>

                Tip: Perubahan adalah sesuatu yang memang terkadang menakutkan, membuat kita tidak nyaman,
                    bingung, dan sulit untuk beradaptasi. Akan tetapi perubahan perlu dilakukan bila Anda ingin 
                    berkembang menjadi pribadi yang lebih baik dan tahan banting. 
                    Seringkali perubahan lingkungan menjadi salah satu faktor utama mengapa perubahan terkadang 
                    datang tanpa kita sadari dan kita dituntut untuk menjadi seseorang yang mampu beradaptasi. 
                    Berubahlah sekarang selagi masih sempat, fokuskan perhatian Anda pada hukuman yang akan Anda 
                    terima pada masa mendatang jika tidak mengambil tindakan sekarang.
            </p>
        </div>
    
        <div class="container-fakta-item fakta-even">
            <p class="judul-fakta">Memaafkan Membuat Anda Menjadi Pribadi yang Semakin Kuat</p><hr>
            <p>“Orang yang lemah tidak mampu memaafkan. Memaafkan adalah ciri orang yang kuat” - Mahatma Gandhi<br>
        
                <i>“The weak can never forgive. Forgiveness is the attribute of the strong.”</i>
                    - Mahatma Gandhi.<br><br>

                    Tip: Sikap memaafkan orang-orang yang pernah bersalah pada kita adalah sikap yang dimiliki 
                    oleh orang-orang yang berkarakter kuat. Tindakan memaafkan adalah sebuah tindakan dari seseorang 
                    untuk melupakan kesalah orang lain. Dengan memaafkan, kita telah meringankan pikiran, tenaga, dan 
                    waktu kita. Dendam atau kebencian merupakan hal yang dapat menghambat kemajuan kita dalam hidup. 
                    Jangan diam dan berpikir bahwa waktu akan menyembuhkan hati yang terluka, karena Andalah 
                    satu-satunya yang berhak melupakan dan mengampuni siapapun yang bersalah pada Anda. 
                    Banggalah pada diri Anda bila mampu memaafkan orang lain karena memaafkan adalah tindakan orang kuat.
                </p>
        </div>

        <div class="container-fakta-item">
            <p class="judul-fakta">Perubahan Kecil dapat Memberikan Dampak Besar</p><hr>
            <p>“Kembangkan sikap untuk selalu menjadi lebih baik. 
                Membuat perbedaan yang kecil dalam tindakan akan menghasilkan perbedaan yang besar dalam 
                hasil yang diperoleh” - Brian Tracy<br>
    
                <i>“Develop the winning edge. Small differences in your performance can lead to large
                     differences in your results”</i>
                    - Brian Tracy<br><br>

                Tip: Sekecil apapun perubahan yang Anda lakukan asalkan ke arah yang lebih baik 
                akan membantu hidup Anda menjadi lebih baik. Dengan melakukan perubahan kecil secara
                    rutin dan dengan usaha yang tulus akan membuat sebuah perubahan yang besar pada 
                    kehidupan Anda dibandingkan tidak melakukan perubahan sama sekali. Ingat bahwa 
                    sekecil apapun tindakan yang membuat kehidupan Anda semakin positif akan membawa
                    dampak besar di masa depan.
            </p>
        </div>
        <a href="https://www.cermati.com/artikel/kata-kata-motivasi-hidup-terbaik-untuk-buat-hidup-kamu-lebih-semangat">Sumber: cermati.com (klik untuk menuju ke laman sumber)</a>
    </div>
{% endblock content %}