{% extends "portofolio/template.html" %}
{% load static %}
{% block title %} Portofolio {% endblock %}
{% block content %}
    <div class="container-fluid porto-content1">
        <h4>Foto yang saya ambil:</h4>
        <img src="{% static 'images/Foto1.jpg' %}" class="img-fluid porto-foto">
        <img src="{% static 'images/Foto2.jpg' %}" class="img-fluid porto-foto">
        <img src="{% static 'images/Foto3.jpg' %}" class="img-fluid porto-foto">
    </div>
    <div class="container-fluid porto-content2">
        <h4>Desain yang pernah saya buat:</h4>
        <img src="{% static 'images/Desain1.jpg' %}" class="img-fluid porto-foto">
        <img src="{% static 'images/Desain2.jpg' %}" class="img-fluid porto-foto">
    </div>
{% endblock content %}