{% extends "portofolio/template.html" %}
{% load static %}
{% block title %} Riwayat Hidup {% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="container-riwayat-item">
                    <img src="{% static 'images/College.png' %}" class="logo-riwayat">
                    <p>TK Marsudirini Bekasi (2003 - 2006)</p>
                    <p>SD Marsudirini Bekasi (2006 - 2012)</p>
                    <p>SMP Marsudirini Bekasi (2012 - 2015)</p>
                    <p>SMA Marsudirini Bekasi (2015 - 2018)</p>
                    <p>Universitas Indonesia (2018 - sekarang)</p>
                </div>

                <div class="container-riwayat-item">
                    <img src="{% static 'images/skills.png' %}" class="logo-riwayat">
                    <p>Skills:</p>
                    <p>Fotografi</p>
                    <p>HTML</p>
                    <p>CSS</p>
                    <p>Python</p>
                    <p>Java</p>
                </div>
            </div>
        
            <div class="col-12">
                <div class="container-riwayat-item">
                    <img src="{% static 'images/organization.png' %}" class="logo-riwayat">
                    <hr>
                    <p>BEM FASILKOM UI</p>
                    <p>- Departemen Advokasi dan Kesejahteraan Mahasiswa</p>
                    <hr>
                    <p>COMPFEST 11</p>
                    <p>- Staff of Playground</p>
                    <hr>
                    <p>OSIS SMA MARSUDIRINI BEKASI</p>
                    <p>- Sie. Kehidupan berbangsa dan bernegara (2016)</p>
                    <p>- Bendahara I (2017)</p>
                    <hr>
                    <p>MISDINAR SANTO BARTOLOMEUS</p>
                    <p>- Wakil Ketua</p>
                </div>

                <div class="container-riwayat-item">
                    <img src="{% static 'images/achievement.png' %}" class="logo-riwayat">
                    <p>Juara III Wild games tingkat SMP</p>
                    <p>- lomba tentang ilmu pengetahuan alam yang diselenggarakan oleh SMAN 1 Bekasi</p>
                    <hr>
                    <p>Nilai UN tertinggi SD tingkat sekolah</p>
                </div>
            </div>
            
            <div class="col-12">
                <div class="container-riwayat-item">
                    <img src="{% static 'images/personality.png' %}" class="logo-riwayat">
                    <p>Tipe Kepribadian MBTI: ESFJ - A</p>
                    <hr>
                    <p>Kekuatan: </p>
                    <p>Bertanggung jawab</p>
                    <p>Disiplin</p>
                    <p>Suka membantu</p>
                    <p>Dapat mengemudi</p>
                    <p>Terorganisir</p>
                    <hr>
                    <p>Kelemahan: </p>
                    <p>Terlalu banyak berpikir</p>
                    <p>Penyakit asma dan maag</p>
                    <hr>
                    <p>Kesempatan: </p>
                    <p>Adanya lamaran kerja</p>
                    <p>Dukungan dari orang terdekat</p>
                    <hr>
                    <p>Ancaman: </p>
                    <p>Asma dan Maag yang mungkin saja kambuh</p>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}