{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>{% block title %}{% endblock %} - Evando's Profile</title>
</head>
<body>
    <header>
        <h1>Evando Wihalim</h1>
    </header>
    
    <div class="navbar">
        <ul>
            {% with url_name=request.resolver_match.url_name %}
            <li><a class="{% if url_name == 'beranda' %} active {% endif %}" href="{% url 'beranda' %}">Beranda</a></li>
            <li><a class="{% if url_name == 'riwayat' %} active {% endif %}" href="{% url 'riwayat' %}">Riwayat Hidup</a></li>
            <li><a class="{% if url_name == 'fakta' %} active {% endif %}" href="{% url 'fakta' %}">Fakta Unik</a></li>
            <li><a class="{% if url_name == 'porto' %} active {% endif %}" href="{% url 'porto' %}">Portofolio</a></li>
            <li><a class="{% if url_name == 'motivasi' %} active {% endif %}" href="{% url 'motivasi' %}">Motivasi</a></li>
            <li><a class="{% if url_name == 'jadwal_form' %} active {% endif %}" href="{% url 'jadwal:jadwal_form' %}">Jadwal</a></li>
            {% endwith %}
        </ul>
    </div>
    {% block content %}{% endblock %}
    <div class="footer">
        <p id="hub">Hubungi saya:</p>
        <div class="logo">
            <a href="https://id-id.facebook.com/evando.wihalim"><img class="logo-item" src="{% static 'images/FB.png' %}"></a>
            <a href="https://www.instagram.com/evando_w/"><img class="logo-item" src="{% static 'images/IG.png' %}"></a>
            <a href="https://id.linkedin.com/in/evando-wihalim-1017a417b"><img class="logo-item" src="{% static 'images/LinkedIN.png' %}"></a>
            <a href="https://wa.me/6287882860328"><img class="logo-item" src="{% static 'images/WA.png' %}"></a>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>