{% extends "portofolio/template.html" %}
{% load static %}
{% block title %} Jadwal {% endblock %}
{% block content %}
    <form class="site-form" action="/jadwal/terima" method="POST">
        {% csrf_token %}
        <p>Kategori: {{ form_jadwal.kategori }} </p>
        <p>Nama Kegiatan: {{ form_jadwal.nama_kegiatan }}</p>
        <p>Tanggal Kegiatan: {{ form_jadwal.tanggal_kegiatan }}</p>
        <p>Waktu Kegiatan: {{ form_jadwal.waktu_kegiatan }}</p>
        <p>Tempat: {{ form_jadwal.tempat }}</p>
        <button type="submit" class="btn btn-light" id="btn-tambahjadwal">Tambah Jadwal</button>
    </form>
{% endblock content %}