{% extends "portofolio/template.html" %}
{% load static %}
{% block title %} Hasil Jadwal {% endblock %}
{% block content %}

    {% if semua_jadwal %}
    <div class="table-responsive">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Kategori</th>
                    <th scope="col">Nama Kegiatan</th>
                    <th scope="col">Tanggal Kegiatan</th>
                    <th scope="col">Waktu Kegiatan</th>
                    <th scope="col">Tempat</th>
                    <th scope="col">Hapus Jadwal</th>
                </tr>
            </thead>
            {% for object_isian in semua_jadwal %}
            <tr>
                <td>{{ object_isian.kategori }}</td>
                <td>{{ object_isian.nama_kegiatan }}</td>
                <td>{{ object_isian.tanggal_kegiatan }}</td>
                <td>{{ object_isian.waktu_kegiatan }}</td>
                <td>{{ object_isian.tempat }}</td>
                <td><a href= "{% url 'jadwal:hapus' id=object_isian.id %} "> <button type="submit">Hapus</button> </a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
    {% else %}
        <h1>Belum ada jadwal</h1>
    {% endif %}
    <a href="{% url 'jadwal:terima' %}"><button type="button" class="btn btn-light" id="btn-buatjadwal">Buat Jadwal Baru</button></a>

{% endblock content %}